<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".NativeSmokeActivity"
            android:exported="true" />

        <activity
            android:name=".NativeVpnSmokeActivity"
            android:exported="true" />

        <service
            android:name=".NativeVpnSmokeService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn_tunnel_debug_test" />

        </service>

    </application>

</manifest>
